@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap);


/* reset information for the whole page */
*{ Margin: 0px; Padding: 0px; Box-sizing: border-box; Outline: none;
   font-family: 'Montserrat', sans-serif; font-size: 14px; }



 body { background-image: linear-gradient(black, rgb(90, 7, 90), purple,rgb(90, 7, 90), black);
       background-repeat: no-repeat; display: block; width:100%; height:auto;
       font-family: 'Montserrat', sans-serif;
       line-height: 1.1; }

header { display: block; width: 100%; font-size:25px; text-align: center;
         line-height:0.5; margin-top:20px; padding: auto; color: white; 
         font-weight: bolder; font-size: 80px;
         text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1; }

header:hover { text-shadow: 0 0 0.10em #fff, 0 0 0.4em #fe05e1, 0 0 0.6em #fe05e1; }

@media screen and (max-width: 600px) {
  header { font-size: 30px; } }

 #raw { width: 50%; margin: auto; padding: 16px; text-align: center;
        display: block; border: solid white; color: white; }

        .playlist { margin: auto; display: inline-block;
         vertical-align: top; }

.playlist .first-column { display: inline-block; width: 40vw; border: white solid; }

.playlist .second-column { display: inline-block; width: 30vw; }



.song { position: relative;
       width: 300px; height: 130px;
       margin-top:20px; margin-bottom:30px; margin-left: auto; margin-right: auto; 
       padding: 16px;
       border: solid white; border-left-width: 20px; 
       color: white }

.song:hover { background-image: radial-gradient(purple, black); }

.title { display:block; 
        font-size:15px; font-weight:bold; }

.artist { display:block; 
         font-size:15px; }

.genre { display: block; }

.year { display: block; }

.filtering { width: 50%; border: white solid; margin: auto; padding: 40px; }

.filtering form { margin: auto; text-align: center;}

